body {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#ui {
  margin: 0;
  position: absolute;
  top: 10px;
  left: 10px;
}
#gameOver{
  font-size: 100px;
  margin-left: 400px;
  color: rgb(208, 11, 11);
  margin-top: -50px;
  margin-bottom: 25px;
}
#restartBtn {
  background-color: #e6e8e6;
  color: rgb(33, 33, 33);
  padding: 12px 26px;
  border: solid 3px #45a049;
  border-radius: 8px;
  cursor: pointer;
  font-size: 24px;
  margin-left: 660px;
  margin-top: -30px;
}

#restartBtn:hover {
  background-color: #45a049;
  color: #e6e8e6;
}

h1 {
  color: whitesmoke;
}

/* Style for the instruction image */
#instructionImage {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  height: auto;
  z-index: 1; /* Ensure it's on top of other elements */
}

#countdown {
  font-size: 48px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Initially hidden */
}